<div class="container mt-8 py-6 sm:px-6 lg:px-8 bg-white">
    <h2 class="my-2 tracking-tight font-extrabold text-gray-900 sm:text-xl md:text-2xl">
        Heroe component works
    </h2>

    <div class="mt-5 rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">

        <div class="p-5">

            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                {{ nombreCapitalizado }}
            </h5>

            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                <strong>Edad:</strong> {{ edad }}
            </p>

            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                <strong>Función:</strong> {{ obtenerNombre() }}
            </p>

            <button
                class="bg-blue-500 text-white hover:bg-blue-400 rounded-full px-4 py-2 mx-0 outline-none focus:shadow-outline" (click)="cambiarNombre()">
                Cambiar Héroe
            </button>
            <br>
            <button
                class="bg-blue-500 text-white hover:bg-blue-400 rounded-full px-4 py-2 mx-0 outline-none focus:shadow-outline mt-5">
                Cambiar Edad
            </button>

        </div>
    </div>
</div>