<div class="container mt-8 py-6 sm:px-6 lg:px-8 bg-white">
    <h2 class="mb-6 tracking-tight font-extrabold text-gray-900 sm:text-xl md:text-2xl">
        DBZ
    </h2>

    <div class="grid grid-flow-row-dense grid-cols-12 grid-rows-3">
        <div class="col-span-6 text-xs font-semibold uppercase bg-black text-white p-3">Héroe</div>
        <div class="col-span-4 text-xs font-semibold uppercase bg-black text-white p-3">Poder</div>
        <div class="col-span-2 text-xs font-semibold uppercase bg-black text-white p-3">Acciones</div>

        <div class="col-span-6 text-xs p-3 border-b border-x">Goku</div>
        <div class="col-span-4 text-xs p-3 border-b border-r">15.000</div>
        <div class="col-span-2 text-xs p-3 border-b border-r">x</div>

        <div class="col-span-6 text-xs p-3 border-b border-x">Goku</div>
        <div class="col-span-4 text-xs p-3 border-b border-r">15.000</div>
        <div class="col-span-2 text-xs p-3 border-b border-r">x</div>

        <div class="col-span-6 text-xs p-3 border-b border-x">Goku</div>
        <div class="col-span-4 text-xs p-3 border-b border-r">15.000</div>
        <div class="col-span-2 text-xs p-3 border-b border-r">x</div>

    </div>

    <div class="mt-6">
        <h3 class="mb-3 font-bold text-gray-900 sm:text-lg md:text-md">Agregar</h3>

        <form action="#" method="POST">
            <div class="grid grid-cols-12 gap-12">
                <div class="col-span-12 sm:col-span-5">
                    <label for="first-name" class="block text-sm font-medium text-gray-700">Nombre</label>
                    <input type="text" name="nombre" id="nombre" autocomplete="given-name"
                        class="mt-1 p-2 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                </div>

                <div class="col-span-12 sm:col-span-5">
                    <label for="last-name" class="block text-sm font-medium text-gray-700">Poder</label>
                    <input type="number" name="poder" id="poder" autocomplete="family-name"
                        class="mt-1 p-2 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                </div>

                <div class="col-span-12 sm:col-span-2">
                    <button
                        class="bg-blue-500 text-white hover:bg-blue-400 rounded px-4 py-2 mt-5 mx-0 outline-none focus:shadow-outline">
                        Guardar
                    </button>
                </div>

            </div>


        </form>


    </div>